.button {
  padding: 8px;
  margin: 4px;
  border-radius: 6px;
  cursor: pointer;
  border: 0;
  background-color: rgba(52, 152, 219, 0.1);
  color: #8c98a4;
}

.button-disabled {
  background-color: rgba(236, 236, 236);
  cursor: not-allowed;
}
